/* line 3, ../sass/style.sass */
body {
  background: #2c3e50;
  font-family: Helvetiva, sans-serif;
  font-weight: 200;
  height: 1000px;
}
/* line 8, ../sass/style.sass */
body a {
  text-decoration: none;
}

/* line 11, ../sass/style.sass */
.btn {
  position: relative;
  padding: 20px 60px;
  border-radius: 50px;
  display: inline-block;
  color: white;
  transition: all 0.5s ease-in-out;
  z-index: 2;
  opacity: 1;
}
/* line 20, ../sass/style.sass */
.btn-wrapper {
  margin: 0 auto;
  text-align: center;
}
/* line 23, ../sass/style.sass */
.btn--hide {
  opacity: 0;
  display: none;
}
/* line 26, ../sass/style.sass */
.btn--color {
  background: #e74c3c;
}

/* line 29, ../sass/style.sass */
.morph-btn {
  position: fixed !important;
  background: #e74c3c;
  border-radius: 50px;
  z-index: 1;
  box-sizing: border-box;
}
/* line 35, ../sass/style.sass */
.morph-btn__content {
  opacity: 0;
  position: relative;
}
/* line 38, ../sass/style.sass */
.morph-btn__content--open {
  opacity: 1;
  transition: all 0.7s ease-in-out;
  transition-delay: 0.3s;
}
/* line 42, ../sass/style.sass */
.morph-btn--open {
  border-radius: 0;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  overflow: scroll;
}

/* line 52, ../sass/style.sass */
.slide-left {
  left: -4000px;
}
/* line 54, ../sass/style.sass */
.slide-left--open {
  left: 0;
}

/* line 57, ../sass/style.sass */
.slide-top {
  top: -4000px;
}
/* line 59, ../sass/style.sass */
.slide-top--open {
  top: 0;
}
